---
- name: Converge
  hosts: all
  no_log: false

  tasks:

   - name: "Execute init server ansible role"
     include_role:
      name: ansible-role-initserver
     vars:
      server_app_code: "kis"
      server_password_auth: true
      server_app_description: "KubeCloud Application description"
      server_app_home: "/kubecloud/myapp/"
      server_user_name: "admin"
      server_user_main_group: "admin"
      server_user_comment: "KIS Application Administrator"
      server_user_password: "admin123"
      server_user_groups: ["kis", "sudo", "adm", "exploit"]
      server_user_create_home: true
      server_user_shell: "/bin/bash"
      server_user_ssh_private_key: "security/admin_rsa"
      server_user_autorized_keys: ["security/admin_rsa.pub"]
      server_packages: []
      server_tcp_ports: ["80", "443", "8080", "8443"]
      server_udp_ports: ["224"]
      firewall_track_conn: false
      storage_servers:
       - host: "e-sds1.kube-cloud.int"
         adress: "172.16.1.201"
       - host: "e-sds2.kube-cloud.int"
         adress: "172.16.1.202"
